@media (max-width: 1222px) {
    nav{
        position: fixed;
        width: 100%;
        margin: 0;
        padding:0; 
        top: 0;
    }
    .ul.flex {
        flex-direction: column;
        position: absolute; 
top : 99px;   
    background-color :#ffffff00;
     justify-content: center;
     width: 100%;
     left: 0; 
     z-index: 1000; 
     backdrop-filter: blur(5px);
    }
.icon{
  margin-left: 15% ;
    justify-content: center;
        
}