.Digital-Book input {
position: absolute;
      top: 70%;  
      left: 7%;
      padding: 5px;
      font-size: 16px;
      background-color: var(--Strong-Cyan);
      color: black;
 }
.our-blog{
  margin-top: 2%;
 text-align: center;
 font-size: 22px;
}